<?php
/**
 * @package tnn-report.server
 * @subpackage api
 * @copyright Copyright (C) 2012 Thai Netizen Network Developer. All rights reserved.
 * @license GNU General Public License version 2 or later; see COPYING
 */

defined( '_VALID_ACCESS' ) or die( 'Direct Access to this location is not allowed.' );

define('PDO_DSN', 'mysql:dbname=<DATABASENAME>;host=<DATABASEHOST>');
define('PDO_USERNAME', '<DATABASEUSERNAME>');
define('PDO_PASSWORD', '<DATABASEPASSWORD>');
